@charset "UTF-8";

body{
    background-color: yellow;
    color: burlywood;
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
    color: brown;
    text-decoration: double;
}

a{
    color: blue;
    text-decoration: wavy;
}

